@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
	color: white;
	font-family: 'Tilt Neon', bold;
}

html, body {
	height: 100%;
	width: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow: hidden;
	background-color: #0f0f0f;
	background-size: auto;
	margin: 0;
}

main {
	height: 100%;
	width: 30%;
	margin: auto;
}

section {
	width: 100%;
	margin: 0;
}

#profile-box {
	height: 15%;
	position: relative;
}

#profile-content {}

#profile-title {
	position: absolute;
	bottom: 0;
}

#intro-box {
	height: 60%;
}

#intro-content {}

#intro-social {
	width: 50%;
	margin-top: 1.5em;	
}

._intro-social-element {
	overflow: visible;
	margin: auto 0.5em;
}

.intro-social-element {
	height: 2.5em;
}

#intro-social-element-github {
	
}

#intro-social-element-discord {
	transform: scale(0.9) 	
}