@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
	color: white;
	font-family: 'Tilt Neon', bold;
}

html, body {
	height: 100%;
	width: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #0f0f0f;
	background-size: auto;
	margin: 0;
}

main {
	height: fit-content;
	width: 30%;
	margin: auto;
	position: absolute;
	top: 25%;
	left:  50%;
	transform: translate(-50%, -25%);
}

section {
	width: 100%;
	margin: 0;
}

@media screen and (max-width: 64rem) {
  main {
  	width: 75%;
  }
}
@media screen and (max-height: 25rem) {
  main {
    position: absolute;
  	top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    }
}
@media screen and (min-width: 64rem) and (max-height: 25rem) {
    main{
    	transform: translate(-50%, 0);
    }
}
@media screen and (max-width: 64rem) and (max-height: 25rem) {
    main {
      left: 50%;
      transform: translate(-50%);
    }
}

#profile-box {
	height: 15%;
	margin: 0;
}

#profile-content {}

#profile-title {
}

#intro-box {
	height: 60%;
}

#intro-content {}

#intro-social {
	width: 100%;
	margin-top: 1.5em;	
}

._intro-social-element {
	overflow: visible;
	margin: auto 0.5em;
}

.intro-social-element {
	height: 2.5em;
}

#intro-social-element-github {
	
}

#intro-social-element-discord {
	transform: scale(0.9) 	
}